<!--{{!< default}}-->
<div id="intro">
	<div class="jumbotron">
		<h1 class="header">MATEUSZ<br><span class="wider">STASICA</span></h1>
		<img src="./images/portraitnew.jpg" alt="" class="img-portrait">
		<p class="desc">SKUTECZNIEJSZA NAUKA JĘZYKÓW</p>
	</div>
	<div id="nav">
		<ul class="links-container">
			<a class="links" href="/"><li>o mnie</li></a>
			<a class="links" href="/blog"><li>blog</li></a>
			<a class="links" href="/wydarzenia"><li>wydarzenia</li></a>
			<a class="links" href="/kontakt"><li>kontakt</li></a>
		</ul>
	</div>
	
	<div class="intro-companies">
		<h3 class="intro-companies-header">
			DLA FIRM
		</h3>
		<p class="intro-companies-paragraph">
			Jeżeli jesteś klientem komercyjnym i potrzebujesz dobrego trenera językowego dla swoich podopiecznych to bardzo dobrze trafiłeś! Wybór spośród tysiąca szkół, które i tak uczą jednakową metodologią musi być dla Ciebie sporym problemem.
		</p>
		<p class="intro-companies-paragraph">
			Na tej stronie przekażę Ci wszystkie potrzebne informacje związane z tym co ja proponuję w bardziej formalnych i profesjonalnych sytuacjach.
		</p>
	</div>
	<div class="intro-companies intro-companies-right">
		<h3 class="intro-companies-header">
			DLACZEGO JA?
		</h3>
		<p class="intro-companies-paragraph">
			Być może zauważyłeś, że mój blog oraz strona są bardzo osobiste i bezpośrednie. W swojej działalności kieruję się ideą pomocy na płaszczyźnie językowej, a idąc za zasadą „Think Big” bez pardonu mówię nawet o reformie szkolnictwa w końcowej fazie całego projektu.
		</p>
		<p class="intro-companies-paragraph">
			Dlatego na stronie internetowej koncentruję się na dotarciu do osób w wieku szkolnym lub podczas studiów, gdyż jest to część społeczeństwa najbardziej dotknięta przez system edukacji. To tam wymagana jest reedukacja i pomocna dłoń.
		</p>
	</div>
</div>

<div class="desc-companies-container-column">
	<div class="desc-companies-title-section">
		<div class="desc-companies-title-container">
			<h3 class="desc-companies-title">
				CO MUSISZ WIEDZIEĆ O MNIE?
			</h3>
		</div>
	</div>
	<div class="desc-companies-text">
		<p class="desc-companies-paragraph">Podejmowałem się wielu działań:</p>
		<p class="desc-companies-paragraph">Zajmowałem się tłumaczeniem gier komputerowych</p>
		<p class="desc-companies-paragraph">Pracowałem za granicą</p>
		<p class="desc-companies-paragraph">Uruchomiłem start-up</p>
		<p class="desc-companies-paragraph">Dzięki temu doświadczeniu stworzyłem i prowadzę swój e-sklep</p>
		<p class="desc-companies-paragraph">Współorganizowałem imprezy muzyczne</p>
		<p class="desc-companies-paragraph">Pracowałem w korporacji</p>
		<p class="desc-companies-paragraph">Zostałem najmłodszym wykładowcą na <a href="https://www.polsl.pl/Wydzialy/RM/Strony/Studia_podyplomowe_Gospodarka_o_obiegu_zamknietym_i_czystsza_produkcja.aspx" class="desc-companies-link">Politechnice Śląskiej w Katowicach</a></p>
		<p class="desc-companies-paragraph">Pracuję w <a href="https://famed.com.pl/en/contact/" class="desc-companies-link">międzynarodowej firmie</a>, w której negocjuję umowy, startuję w przetargach i pozyskuję klientów - a wszystko to przy wykorzystaniu języków obcych.</p>
	</div>
</div>

<div class="desc-companies-container-column container-column-reversed">
	<div class="desc-companies-text">
		<p class="desc-companies-paragraph paragraph-bigger">
			Chcesz, aby uczył Cię ktoś, kto jedynie ukończył studia i założył szkołę językową, lub też uczy w jednej z nich, powielając 500-letnie schematy i stereotypowe myślenie?
		</p>
		<p class="desc-companies-paragraph paragraph-center">
			No właśnie.
		</p>
	</div>

	<div class="desc-companies-title-section">
		<div class="desc-companies-title-container">
			<h3 class="desc-companies-title">
				A TERAZ ODPOWIEDZ SOBIE SAM
			</h3>
		</div>
	</div>
</div>

<div class="desc-companies-container">
	<h2 class="desc-companies-header">CO JESZCZE MUSISZ WIEDZIEĆ?</h2>
	<p class="desc-companies-paragraph">
		Przede wszystkim nie prowadzę zwykłej szkoły językowej, gdyż takie twory należą już do prehistorii. Ty chcesz by Twoi ludzie znali język, a ja wiem co zrobić, aby cały proces przebiegał <span class="desc-companies-bold">sprawnie, naturalnie i efektywnie</span>. Wybadam czego potrzebuje pracownik Twojej branży na danym stanowisku i dam mu odpowiednie narzędzia, którymi później posłuży się, aby przynosić korzyści Tobie i Twojej firmie.
	</p>
	<p class="desc-companies-paragraph">
		Dodatkowo ułatwi pracę sobie, a także swojemu zespołowi. To wszystko wydarzy się przy udziale moim lub współudziale przeszkolonych lektorów z którymi współpracuję. Odbyli oni kurs przyswajający wiedzę oraz techniki z zakresu nauki języków obcych metodą <span class="desc-companies-bold">Personalised Language Acquisition™</span> oraz <span class="desc-companies-bold">Emotional Language Acquistion™</span>. Dlatego rozumieją gdzie znajdują się mocne strony lansowanych przeze mnie metod i doskonale wiedzą jak to wykrozystać.

	</p>
	<h2 class="desc-companies-header">W SKRÓCIE:</h2>
	<ul>
		<li class="desc-companies-element">Innowacyjna i <span class="desc-companies-bold">nowoczesna</span> metodologia uszyta na Twoją miarę</li>
		<li class="desc-companies-element">Biznesowe szkolenie językowe</li>
		<li class="desc-companies-element">Nauka od podstaw lub szlifowanie umiejętności na poziomie zaawansowanym</li>
		<li class="desc-companies-element">Całość oparta o <span class="desc-companies-bold">zmianę myślenia</span> na temat języków</li>
		<li class="desc-companies-element"><span class="desc-companies-bold">Zwalczanie stereotypów</span>, które blokują naukę języków obcych i ich używanie</li>
		<li class="desc-companies-element">Widoczne <span class="desc-companies-bold">efekty</span> od pierwszych zajęć</li>
		<li class="desc-companies-element">Każde zajęcia są <span class="desc-companies-bold">personalizowane</span> pod indywidualne wymagania klienta i jego branżę</li>
		<li class="desc-companies-element">Osiąganie <span class="desc-companies-bold">celów komunikacyjnych</span>, a nie bezwartościowe certyfikaty i oceny</li>
		<li class="desc-companies-element">Działania motywacyjne</li>
		<li class="desc-companies-element"><span class="desc-companies-bold">Wsparcie poza zajęciami</span></li>
		<li class="desc-companies-element">Brak konieczności zakupu drogich podręczników czy zeszytów ćwiczeń</li>
		<li class="desc-companies-element">Faktura VAT.</li>
	</ul>
	<p class="desc-companies-paragraph">
		Słuchacze nie rozpoczynają od razu od nauki języka. Każdy kurs poprzedzany jest seminarium z zakresu motywacji, zrozumienia metody nauczania, określania celów, organizacji nauki, znajomości procesów neurolingwistycznych i wiele innych, co w rezultacie przekłada się na świadome i efektywne przyswajanie języków obcych.
	</p>
	<p class="desc-companies-paragraph">
		Słuchacze nie tylko zyskują wiedzę i możliwości szlifowania języka doraźnie. Seminarium pokazuje w jaki sposób zaimplementować języki obce w swoje życie, by uczyć się ich bez trudu, bez poczucia obowiązkowości i mimowolnie. Słyszałeś powiedzenie: „Języka uczy się całe życie”? To nie jest kolejne modne kłamstewko.
	</p>
	<p class="desc-companies-paragraph">
		Proponuję naukę, która będzie inspiracją, która będzie doskonale spędzonym czasem i która stanie się kolejnym pozytywnym i rozwijającym elementem w życiu Twoich pracowników.
	</p>
	<div class="desc-companies-link-container">
		<a href="mailto:mateuszstasica.languages@gmail.com" class="desc-companies-link">SKONTAKTUJ SIĘ ZE MNĄ</a>
	</div>
</div>
