<!--{{!< default}}-->
<div id="intro">
	<div class="jumbotron">
		<h1 class="header">MATEUSZ<br><span class="wider">STASICA</span></h1>
		<img src="./images/portraitnew.jpg" alt="" class="img-portrait">
		<p class="desc">SKUTECZNIEJSZA NAUKA JĘZYKÓW</p>
	</div>
	<div id="nav">
		<ul class="links-container">
			<a class="links" href="/"><li>o mnie</li></a>
			<a class="links" href="/blog"><li>blog</li></a>
			<a class="links" href="/wydarzenia"><li>wydarzenia</li></a>
			<a class="links" href="/kontakt"><li>kontakt</li></a>
			<a class="links" href="/dla-firm"><li>dla firm</li></a>
		</ul>
	</div>
	
	<div class="intro-companies">
		<h3 class="intro-companies-header">
			DLA FIRM
		</h3>
		<p class="intro-companies-paragraph">
			Jeżeli jesteś klientem komercyjnym i potrzebujesz dobrego trenera językowego dla swoich podopiecznych to bardzo dobrze trafiłeś! Wybór spośród tysiąca szkół, które i tak uczą jednakową metodologią musi być dla Ciebie sporym problemem.
		</p>
		<p class="intro-companies-paragraph">
			Na tej stronie przekażę Ci wszystkie potrzebne informacje związane z tym co ja proponuję w bardziej formalnych i profesjonalnych sytuacjach.
		</p>
	</div>
	<div class="intro-companies intro-companies-right">
		<h3 class="intro-companies-header">
			DLACZEGO JA?
		</h3>
		<p class="intro-companies-paragraph">
			Być może zauważyłeś, że mój blog oraz strona są bardzo osobiste i bezpośrednie. W swojej działalności kieruję się ideą pomocy na płaszczyźnie językowej, a idąc za zasadą „Think Big” bez pardonu mówię nawet o reformie szkolnictwa w końcowej fazie całego projektu.
		</p>
		<p class="intro-companies-paragraph">
			Dlatego na stronie internetowej koncentruję się na dotarciu do osób w wieku szkolnym lub podczas studiów, gdyż jest to część społeczeństwa najbardziej dotknięta przez system edukacji. To tam wymagana jest reedukacja i pomocna dłoń.
		</p>
	</div>
</div>

<div class="desc-companies-container">
	<div class="desc-companies-header-section">
		<div class="desc-companies-header-container">
			<h3 class="desc-companies-header">
				CO MUSISZ WIEDZIEĆ O MNIE?
			</h3>
		</div>
	</div>
	<div class="desc-companies-text">
		<p class="desc-companies-paragraph">Podejmowałem się wielu działań:</p>
		<p class="desc-companies-paragraph">Zajmowałem się tłumaczeniem gier komputerowych</p>
		<p class="desc-companies-paragraph">Pracowałem za granicą</p>
		<p class="desc-companies-paragraph">Uruchomiłem start-up</p>
		<p class="desc-companies-paragraph">Dzięki temu doświadczeniu stworzyłem i prowadzę swój e-sklep</p>
		<p class="desc-companies-paragraph">Współorganizowałem imprezy muzyczne</p>
		<p class="desc-companies-paragraph">Pracowałem w korporacji</p>
		<p class="desc-companies-paragraph">Zostałem najmłodszym wykładowcą na <a href="https://www.polsl.pl/Wydzialy/RM/Strony/Studia_podyplomowe_Gospodarka_o_obiegu_zamknietym_i_czystsza_produkcja.aspx" class="desc-companies-link">Politechnice Śląskiej w Katowicach</a></p>
		<p class="desc-companies-paragraph">Pracuję w <a href="https://famed.com.pl/en/contact/" class="desc-companies-link">międzynarodowej firmie</a>, w której negocjuję umowy, startuję w przetargach i pozyskuję klientów - a wszystko to przy wykorzystaniu języków obcych.</p>
	</div>
</div>

<div class="desc-companies-container">
	<div class="desc-companies-text">
		<p class="desc-companies-paragraph paragraph-bigger">
			Chcesz, aby uczył Cię ktoś, kto jedynie ukończył studia i założył szkołę językową, lub też uczy w jednej z nich, powielając 500-letnie schematy i stereotypowe myślenie?
		</p>
		<p class="desc-companies-paragraph paragraph-center">
			No właśnie.
		</p>
	</div>

	<div class="desc-companies-header-section">
		<div class="desc-companies-header-container">
			<h3 class="desc-companies-header">
				A TERAZ ODPOWIEDZ SOBIE SAM
			</h3>
		</div>
	</div>
</div>
