<!--{{!< default}}-->
<div id="intro">
	{{>header}}
</div>

<div class="half-width">
	<div class="box-description">
		<div class="desc-section reversed full-width">
			<div class="section-title">
				<div class="section-header-container">
					<h2 class="section-header">Skontaktuj się</h2>
				</div>
			</div>
			<div class="section-sidetext">
				<p class="sidetext-paragraph">
					<a class="paragraph-link" href="mailto:biuro@mateuszstasica.pl">biuro@mateuszstasica.pl</a>
				</p>
				<p class="sidetext-paragraph">
					<a class="paragraph-link" href="tel:+48518217052">+48 518 217 052</a> <span class="text-muted">(jestem na WhatsApp)</span>
				</p>
			</div>
		</div>
	</div>
</div>
