<!--{{!< default}}-->
<div id="intro">
	{{>header}}
</div>

<div class="caption">
	<div class="center">
		<h2>Uczenie się to przestarzały model.<br>
			Nie ucz się języków, tylko je przyswajaj!</h2>
	</div>

	<div class="full-width">
		<h3 class="text-center">Dowiedz się więcej!</h3>
		<ul class="list">
			<li><a href="https://anchor.fm/mateusz-stasica" target="_blank">Słuchaj mojego podcastu</a></li>
			<li><a href="/blog">Czytaj mojego bloga</a></li>
			<li><a href="https://sklep.mateuszstasica.pl/" target="_blank">Zerknij do sklepu, aby zamówić lekcje lub zakupić inne
				materiały.<br>Będzie ich coraz więcej! Ebooki, ćwiczenia, książki i inne.</a></li>
			<li style="display: none;">Zapisz się do Newslettera (link), żeby pozostać na bieżąco, dostawać ode mnie
				jeszcze więcej wiedzy i otrzymywać promocje na kursy lub materiały ze sklepu.
			</li>
		</ul>
	</div>
	<div class="center">
		<h3>Chcesz poczytać trochę więcej o wartościach jakimi się kieruję? Przewiń w dół…</h3>
	</div>
</div>

<div class="picture-description">
	<div class="desc-sidepic"></div>
	<div class="desc-sidetext">
		<h4 id="desc-header">NAUKA INACZEJ</h4>
		<p class="sidetext-paragraph">
			Na rynku pracy połowa ludzi to magistrzy: jednakowi, mdli i szarzy. Sądzili, że system edukacji się nimi
			zajmie, pokaże im co najlepsze i czym mają się interesować!
		</p>
		<hr>
		<p class="sidetext-paragraph">
			Chcesz być kolejnym trybikiem zależnym od innych, czy wolisz kierować się swoimi zasadami i własnymi
			odczuciami? Ja i moja szkoła nie tylko uczymy języków obcych. Uczymy się nimi komunikować…</p>
		<ul>
			<li>Dostosowujemy naukę do Twoich potrzeb, celów językowych, zainteresowań,</li>
			<li>Pokazujemy tricki i sposoby na zwiększenie efektywności nauczania,</li>
			<li>Niwelujemy błędy systemu edukacji i uwalniamy od stereotypów, blokad,</li>
			<li>Wiele, wiele więcej…</li>
		</ul>
		<p class="sidetext-paragraph">Zajrzyj do <a href="https://sklep.mateuszstasica.pl/" target="_blank">sklep / zajęcia</a> oraz
			umów się na konsultację, by poznać
			szczegóły.</p>
		<hr>
	</div>
</div>

<div class="box-description">
	<div class="desc-section">
		<div class="section-sidetext">
			<p class="sidetext-paragraph">
				Naukowcy, badacze, lingwiści i nauczyciele już od dawna tłumaczą Ci języki… Ale czy Ty jesteś JEDNYM Z
				NICH?
				Czy myślisz jak naukowiec?</p>
			<p class="sidetext-paragraph">Zwyczajny człowiek potrzebuje rad od rówieśnika - kogoś kto doświadczał, nie
				słuchając porad ludzi, którzy żyli <span class="intro-bold">innym życiem</span>.</p>
			<p class="sidetext-paragraph">Potrzeba Ci kogoś, kto posłucha najpierw <span
				class="intro-bold">Ciebie</span>!
			</p>
		</div>
		<div class="citation-container">
			<h3 class="citation-text"><span class="citation-marks">,, </span>Oni są tylko kowalami, którzy kłują żelazo.
				<br>
				To ty masz władać mieczem <span class="citation-marks-upper"> ,,</span>
			</h3>
		</div>
	</div>
</div>

<div class="box-description">
	<div class="desc-section">
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">Co proponuję</h2>
			</div>
		</div>
		<div class="section-sidetext">
			<p class="sidetext-paragraph">Nauka efektywna, nauka szybka, nauka przyjemna i wiedza, która faktycznie się
				przydaje w życiu oraz w pracy – właśnie tego szukasz? A ja właśnie w ten sposób uczę…</p>
		</div>
	</div>
</div>

<div class="box-description">
	<div class="desc-section reversed">
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">PLA School</h2>
			</div>
		</div>
		<div class="section-sidetext">
			<p class="sidetext-paragraph">Poza darmową, użyteczną i sprawdzoną wiedzą którą dzielę się na co dzień w
				Social
				Mediach pracuję również w mojej szkole: <a href="https://www.pla-school.pl" target="_blank">www.pla-school.pl</a><br>
				Zerknij i skontaktuj się z nami, jeżeli chcesz zabrać się za naukę języków obcych naprawdę na serio, pod
				okiem doświadczonych i nowoczesnych lektorów!</p>
		</div>
	</div>
</div>

<div class="box-description">
	<div class="desc-section">
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">Dlaczego jesteśmy najlepsi?</h2>
			</div>
		</div>
		<div class="section-sidetext">
			<p class="sidetext-paragraph">To co proponuję jest odstąpieniem od wszelkich aktualnych zasad znanych Ci z
				systemu edukacji. Szkolne zasady są archaiczne, nieprzemyślane i nietrafione. Z kolei my posiadamy
				najlepszą
				metodologię…</p>
		</div>
	</div>
</div>

<div class="box-description">
	<div class="desc-section reversed">
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">Jak to robimy?</h2>
			</div>
		</div>
		<div class="section-sidetext">
			<p class="sidetext-paragraph">Naszą metodologię szlifowałem w praktyce przez długie lata będąc nauczycielem
				i
				trenerem językowym. Na metodologię miały również ogromny wpływ moje doświadczenia w handlu zagranicznym,
				biznesie, pracy w korporacji, rozwoju przedsiębiorstwa… To wiedza praktyczna - prosto z rynku pracy, a
				nie
				szkolne teoretyzowanie!</p>
			<p class="sidetext-paragraph">Zebraliśmy to wszystko w dwie idee, które wspólnie tworzą idealną całość:</p>
			<ul>
				<li>Personalised Language Acquisition™</li>
				<li>Emotional and Sensuous Language Acquisition™</li>
			</ul>
			<p class="sidetext-paragraph">Nasze działania opierają się o wyniki badań neurolingwistycznych,
				psycholingwistycznych oraz z zakresu psychologii nauczania. Solidna, nowoczesna wiedza i ogrom praktyki
				to
				mieszanka o niesamowitym potencjale.
				Chcesz poznać mnie od innej strony?
				Obserwuj mnie na Facebooku (link), Instagramie (link) i Linked In (link)</p>
		</div>
	</div>
</div>
