<!--{{!< default}}-->
<div id="intro">
	<div class="jumbotron">
		<img src="./images/slice1.png" alt="" class="img-portrait">
		<h1 class="header">MATEUSZ <br> <span class="wider">STASICA</span></h1>
		<p class="desc">SKUTECZNIEJSZA NAUKA JĘZYKÓW</p>
	</div>
	<div class="intro-text">
		<div id="intro-left" class="intro">
			<p>
				Nie ucz się języków! To nie matematyka, ani chemia. Ten przestarzały i uniwersalny nie model  działa w przypadku języków.
			</p>
			<p>
				Potrzebujesz własnego sposobu na zdobywanie wiedzy. Zdobądź umiejętności językowe po swojemu, zgodnie ze swoim hobby i swoimi zainteresowaniami. 
				<br><br> Po prostu zgodnie z Twoim rytmem życia.
			</p>

			<div id="why-container"><h4 id="intro-why">DLACZEGO?</h4></div>
		</div>
		
		<div id="intro-right" class="intro">
			<p>
				Nazywam się Mateusz i jestem absolwentem studiów filologicznych z językiem angielskim oraz francuskim.
			</p>
			
			<p>
				Przedstawię Wam świeże spojrzenie na kwestię języków. Dokonam w tym zakresie rewolucji. Pokażę jak to robić by było efektywnie i przyjemnie.
			</p>
		</div>
				
		<div id="nav">
			<ul class="links-container">
				<a class="links" href="/"><li>o mnie</li></a>
				<a class="links" href="/blog"><li>blog</li></a>
				<a class="links" href="/wydarzenia"><li>wydarzenia</li></a>
				<a class="links" href="kontakt"><li>kontakt</li></a>
			</ul>
		</div>
	</div>
</div>


<div id="description-1">
	<img src="./images/zac-ong-387518.jpg" alt="" class="desc-sidepic">
	<div class="desc-sidetext">
		<p class="sidetext-paragraph">
			Na rynku pracy połowa ludzi to magistrzy. Wszyscy jednakowi. Tak samo wykształceni. Mdli i szarzy. <br>
			Panuje przekonanie, że lepiej być we wszystkim przeciętnym, niż być doskonałym w swojej ulubionej dziedzinie. <br>
			Że lepiej wiedzieć wszystkiego po trochu, niż faktycznie mieć konkretną wiedzę. <br>
			Że szkoła się nami zajmie i nauczy nas tego co dla nas samych jest najlepsze. <br>
			Że ludzie starej generacji wiedzą lepiej czego potrzebują osoby młode, które dorastają w kompletnie innych warunkach.
		</p>

		<hr>
		
		<p class="sidetext-paragraph">
			Pomogę Ci to zrozumieć na przykładzie języków obcych. <br>
			Dowiesz się absolutnie wszystkiego o tym, jakie warunki należy spełnić by efektywnie i przyjemnie uczyć się języków. <br>
			Dowiesz się czego nie robić, a co robić. <br>
			Zrozumiesz, gdzie znajdują się błędy w Systemie Edukacji.
		</p>

		<hr>
		
		<p class="sidetext-paragraph">Czemu ja? <br>
			Setki znawców, lingwistów, naukowców i poliglotów poświęciło na ten temat dostatecznie dużo czasu i podzieliło się swoją wiedzą. <br>
			A czy Ty jesteś lingwistą, naukowcem albo poliglotą? <br>
			Wiąże się to z tym, że zwyczajny człowiek potrzebuje porad od rówieśnika. Innego zwyczajnego człowieka.</p>
	</div>
</div>


<div id="description-2">
	<div class="desc-section">
		<div class="section-sidetext">
			<p class="sidetext-paragraph">
				Nazywam się Mateusz i jestem absolwentem studiów filologicznych z językiem angielskim oraz francuskim. Bardzo lubię kombinować. Cenię swobodę wypowiedzi i naturalność. Przy mocnym temperamencie wiązać się to może z nieprzebranymi sposobami wysławiania się, włączając w to szeroki wachlarz odłacińskich upiększeń. Zawsze jednak merytorycznie, skutecznie i ciekawie.
			</p>
			
			<p class="sidetext-paragraph">
				Pracuję w B2B rozwijając się w językach obcych i zdolnościach komunikacyjnych oraz negocjacyjnych. <br>
				Ogólnie mowa o wszelkich zdolnościach biznesowych i sprzedażowych. Cieszę się, że dzięki temu mam możliwość poznawania ludzi z różnych kultur i narodowości. <br>
				W międzyczasie uczę języków. To bardzo ogólne stwierdzenie, ponieważ moja działalność zaczyna się na tak nazwanej przeze mnie opiece językowej (klik link do bloga), a kończy na seminariach <br>
				Prowadzę kursy dla firm, fundacji, organizacji, udzielam wykładów na uniwersytetach. Ciągle próbuję czegoś nowego.
			</p>
		</div>
		
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">KIM JESTEM?</h2>
			</div>
		</div>
	</div>


	<div class="desc-section">
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">CZYM JEST TEN PROJEKT?</h2>
			</div>
		</div>


		<div class="section-sidetext">
			<p class="sidetext-paragraph">
				Przedstawię Wam świeże spojrzenie na kwestię języków. Dokonam w tym zakresie rewolucji. Pokażę jak to robić, by było efektywnie i przyjemnie. <br>
				Przedstawię ciekawe informacje z różnych dziedzin, zaproponuję różne sposoby na naukę, nauczymy się trochę rzeczy razem. <br>
				Pomogę, zainteresuję, zaciekawię. Nie będę Wam ściemniał o tym, jak to ze mną zdobędziecie szczyty, fanfary i medaliony. <br>
				Efekt ZAWSZE zależy tylko od Was samych. Ja natomiast daję wiedzę.
			</p>
			
			<p class="sidetext-paragraph">
				To o czym ja mówię, to co proponuję to odstąpienie od wszelkich aktualnych zasad. A to dlatego, że zasady, które ciągle panują są zasadami archaicznymi, nieprzemyślanymi i nietrafionymi. <br>
				Nauka efektywna, nauka szybka, nauka przyjemna i nauka której efekty faktycznie się przydają – to właśnie są moje (a zapewnie także i Twoje) cele. <br>
			</p>
			
			<p class="sidetext-paragraph">
				W moich materiałach wyjaśnię Ci wiele kwestii względem języka angielskiego i francuskiego, a także samego procesu uczenia się. Z kolei hiszpańskiego możecie pouczyć się ze mną razem, od podstaw.
			</p>
		</div>
	</div>
	
	<h3 class="learn-more">DOWIEDZ SIĘ WIĘCEJ</h3>
</div>



<div id="newsletter">
	
	<div class="newsletter-container">
		<div class="newsletter-desc">
			<div class="newsletter-header-container">
				<hr>
				<h4 class="newsletter-header">NEWSLETTER</h4>
				<hr>
			</div>
			
			<p class="newsletter-desc-paragraph">Zapisz się do newslettera, by nie przegapić informacji o mojej działalności oraz informacji o kolejnych wykładach w Twoim mieście! Do zobaczenia!</p>
			
		</div>

		<div class="newsletter-form">

			<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
			<div id="mc_embed_signup">
				<form action="//mateuszstasica.us16.list-manage.com/subscribe/post?u=56da2c45a0d9031477788dd4d&amp;id=cb82b6f55f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<div class="indicates-required"><span class="asterisk">*</span> wymagane pole</div>
						<div class="mc-field-group">
							<label class="column-form-label" for="mce-EMAIL">Email  <span class="asterisk">*</span>
							</label>
							<input type="email" value="" name="EMAIL" class="required email form-input" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<label class="column-form-label" for="mce-FNAME">Imię  <span class="asterisk">*</span>
							</label>
							<input type="text" value="" name="FNAME" class="required form-input" id="mce-FNAME">
						</div>
						<div class="mc-field-group">
							<label class="column-form-label" for="mce-LNAME">Nazwisko  <span class="asterisk">*</span>
							</label>
							<input type="text" value="" name="LNAME" class="required form-input" id="mce-LNAME">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_56da2c45a0d9031477788dd4d_cb82b6f55f" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="WYŚLIJ" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>
				</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
	</div>
	
</div>
