<!--{{!< default}}-->
<div id="intro">
	<div class="jumbotron">
		<h1 class="header">MATEUSZ<br><span class="wider">STASICA</span></h1>
		<img src="./images/portraitnew.jpg" alt="" class="img-portrait">
		<p class="desc">SKUTECZNIEJSZA NAUKA JĘZYKÓW</p>
	</div>
	<div id="nav">
		<ul class="links-container">
			<a class="links" href="/"><li>o mnie</li></a>
			<a class="links" href="/blog"><li>blog</li></a>
			<a class="links" href="/dla-firm#contact"><li>kontakt</li></a>
			<a class="links" href="/dla-firm"><li>dla firm</li></a>
			<a href="https://www.facebook.com/matstasica/" class="links-icon"><img src="./images/facebook-nav.svg" alt=""></a>
			<a href="https://www.youtube.com/channel/UCI-xyXEnlHigVWPNS--Bd6g" class="links-icon"><img src="./images/youtube-nav.svg" alt=""></a>
		</ul>
	</div>
	<div class="intro-text">
		<div id="intro-left" class="intro">
			<p>
				<span class="intro-bold">Uczenie się</span> to przestarzały model. Nie ucz się języków, tylko je <span class="intro-bold">przyswajaj!</span>
			</p>
			<p>
				<span class="intro-bold">Personalizacja</span> procesu przyswajania wiedzy to
				już podstawa. Wszystko co robisz musi współgrać z
				Tobą, Twoim hobby i z tym co robisz w swoim
				życiu! Ma być <span class="intro-bold">efektywnie i przyjemnie!</span>
			</p>
				Ja nie będę Ci ściemniał o tym, jak to ze mną
				zdobędziesz szczyty, fanfary i medaliony, ale wiem
				więcej niż większość „ekspertów”. Ostatecznie jednak wszystko zależy od Twoich chęci.
			 	Dlatego ja sprawię, że będzie Ci się
				chciało i nie będziesz już miał ochoty na naukę z
				kimś innym.
			<p>
				
			</p>
		</div>
		
		<div id="intro-right" class="intro">
			<p>
				Przeczytaj artykuły i dowiedz się więcej o
				mnie, o nauce i mojej metodologii
				wchodząc na <a href="/blog" class="intro-link">bloga</a>.
			</p>
			
			<p>
				Koniecznie zasubskrybuj mój kanał na
				<a href="https://www.youtube.com/channel/UCI-xyXEnlHigVWPNS--Bd6g" class="intro-link">YouTube</a>, aby być na bieżąco i
				żeby chłonąć wiedzę jaką udostępniam.
			</p>
			
			<p>
				Napisz do mnie <a class="intro-link" href="mailto:mateuszstasica.languages@gmail.com">maila</a>
				jeśli chcesz umówić się na konsultacje, naukę, wykłady,
				lub jeśli masz pytanie albo jakąkolwiek inną propozycję.
			</p>
			<p>
				Kliknij <a href="" class="intro-link">tutaj</a>, aby zobaczyć referencje od firm z którymi współpracowałem.
			</p>
		</div>
	</div>
</div>


<div id="description-1">
	<div class="desc-sidepic"></div>
	<div class="desc-sidetext">
		<h4 id="desc-header">NAUKA INACZEJ</h4>
		<p class="sidetext-paragraph">
			Na rynku pracy połowa ludzi to magistrzy. Wszyscy jednakowi. Tak samo wykształceni. Mdli i szarzy. <br>
			Panuje przekonanie, że lepiej być we wszystkim przeciętnym, niż być doskonałym w swojej ulubionej dziedzinie. <br>
			Że szkoła się Tobą zajmie i wie lepiej co dla Ciebie będzie najlepsze. <br>
			Że szkoła powie Ci czym się interesować, co lubić i co się opłaca. <br>
			Że ludzie starej generacji wiedzą lepiej czego potrzebują osoby młode, które dorastają w kompletnie innych okolicznościach.
		</p>

		<hr>
		
		<p class="sidetext-paragraph">
			Chcesz być kolejnym trybikiem zależnym od innych, czy kierować się swoimi zasadami i własnymi odczuciami? <br>
			Dowiesz się ode mnie absolutnie wszystkiego o tym, jakie warunki należy spełnić by <span class="intro-bold">szybko i przyjemnie</span> uczyć się języków. <br>
			Będziesz zwracał uwagę na kompletnie <span class="intro-bold">inne szczegóły</span>, co przełoży się na <span class="intro-bold">efektywność</span> nauki. <br>
			Zrozumiesz, gdzie znajdują się <span class="intro-bold">błędy w Systemie Edukacji</span>, co pozwoli Ci w pełni przejąć kontrolę nad własnym rozwojem.
		</p>

		<hr>
	</div>
</div>

<div id="citation">
	
	<div class="citation-sidetext">

		<p class="citation-sidetext-pg"> 
			Naukowcy, badacze, lingwiści i nauczyciele już od dawna wałkowali ten temat. Tylko dogadaj się z nimi, kiedy samemu nie jesteś lingwistą, naukowcem, czy poliglotą. To jest zamknięte koło wzajemnego klepania się po pleach.</p>
			
		<p class="citation-sidetext-pg">Tymczasem zwyczajny człowiek potrzebuje rad od rówieśnika, innego zwyczajnego człowieka, który właśnie <span class="intro-bold">nie słuchał</span> ekspertów i robił coś swoją własną ścieżką. <br></p>	
		
		<p class="citation-sidetext-pg">Kogoś, kto doświadczał, nie słuchając porad ludzi, którzy żyli <span class="intro-bold">innym życiem</span>, oraz mieli całkiem <span class="intro-bold">inne cele</span>, a także <span class="intro-bold">inny sposób myślenia</span>.</p>

		<p class="citation-sidetext-pg"> Eksperci niech bawią się w swoje dywagacje i rozważania. Tutaj potrzeba jednak kogoś, kto posłucha <span class="intro-bold">Ciebie</span>!<br>
		Tym kimś jestem ja, a ta strona powstaje właśnie dzięki Wam, oraz dla Was. Dla Ciebie. Nie jestem ekspertem, lecz jestem osobą, która Ci pomoże.</p>
		
	</div>

	<div class="citation-container">
		<h3 class="citation-text"><span class="citation-marks">,, </span>Oni są tylko kowalami, którzy kłują żelazo. <br>
			To ty masz władać mieczem <span class="citation-marks-upper"> ,,</span>
		</h3>
	</div>
	
</div>

<div id="description-2">
	<div class="desc-section desc-section-mobile-reversed">
		<div class="section-sidetext">
			<p class="sidetext-paragraph">
				Nazywam się Mateusz Stasica i jestem absolwentem studiów filologicznych z językiem angielskim oraz francuskim. Dużo gadam, lecz jeszcze więcej słucham i obserwuję. Zerknij na mojego <a class="desc-link" href="http://mateuszstasica.pl/blog/post/o-mnie">bloga</a>, by poznać mnie bliżej!
			</p>
			
			<p class="sidetext-paragraph">
				#inaczej #szeroki_wachlarz_odłacińskich_upiększeń #kombinator #bezpośredni #podróże #merytorycznie #z_jajcem #gaduła #export_to_Africa #kursy #seminaria #wykłady #angielski #francuski #hiszpański #adhd #wixa #otwartość #itditp
			</p>
		</div>
		
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">KIM JESTEM?</h2>
			</div>
		</div>
	</div>


	<div class="desc-section">
		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">CZYM JEST TEN PROJEKT?</h2>
			</div>
		</div>


		<div class="section-sidetext">
			<p class="sidetext-paragraph">
				To odstąpienie od zasad. To nowa jakość. To pokłon w stronę dręczonych i demotywowanych przez system edukacji. Wejdź w <a href="http://mateuszstasica.pl/blog/post/niechec-i-nienawisc-do-szkoly" class="desc-link">ten artykuł</a>, by poznać szczegóły! To także działalność językowa, którą postanowiłem rozszerzyć dzięki świetnym opiniom ludzi, którym miałem możliwość pomóc. Dziękuję Wam za kopa do działania!
			</p>
			
			<p class="sidetext-paragraph">
				Najważniejsze jednak stoi dalej, jak za mgłą. Ale wiem, że tam jest. To misja w którą bardzo mocno wierzę: <span class="sidetext-bold">zmiana systemu edukacji</span>.
			</p>
			
			<p class="sidetext-paragraph">
				Będę publikował teksty na <a class="desc-link" href="/blog">Blogu</a> i tworzył kanał na <a class="desc-link" href="https://www.youtube.com/channel/UCI-xyXEnlHigVWPNS--Bd6g">YouTube</a> oraz spotykał się z Wami na wykładach w szkołach czy uczelniach (i nie tylko). Koniecznie daj mi znać, jeżeli chcesz abym odwiedził Twoją placówkę!
			</p>
		</div>
	</div>

	<div class="desc-section desc-section-mobile-reversed">
		<div class="section-sidetext">
			<p class="sidetext-paragraph">
				Kompletny brak nudy. Ciekawostki z różnych dziedzin. <br> Sposoby na naukę i radzenie sobie w szkole
				<br> Wspólną naukę języka angielskiego, francuskiego i hiszpańskiego <br> Podróże, motywację, oraz doświadczenia <br> Bekę, rozrywkkę, pojazd po szkółce, a przede wszystkim <span class="sidetext-bold">efekty</span>!
			</p>

			<p class="sidetext-paragraph">
				Ja daję Ci mega użyteczną i sprawdzoną wiedzę. Robotę jednak wykonujesz TY! Efekt ZAWSZE zależy tylko od Ciebie, więc nigdy nie wierz w kolorowe reklamy super skutecznych metod uczących języka w 2 miesiące.
			</p>

			<p class="sidetext-paragraph">
				To o czym ja mówię i to co proponuję jest odstąpieniem od wszelkich aktualnych zasad. Archaiczne, nieprzemyślane, nietrafione - takie są reguły ciągle panujące w szkołach. Nauka efektywna, nauka szybka, nauka przyjemna i wiedza, która faktycznie się przydaje. Czy to również Twoje cele?
			</p>
		</div>


		<div class="section-title">
			<div class="section-header-container">
				<h2 class="section-header">CO OFERUJĘ?</h2>
			</div>
		</div>
	</div>

	<a href="/blog" class="learn-more"><h3>DOWIEDZ SIĘ WIĘCEJ</h3></a>
</div>



<div id="newsletter">
	
	<div class="newsletter-container">
		<div class="newsletter-desc">
			<div class="newsletter-header-container">
				<hr>
				<h4 class="newsletter-header">NEWSLETTER</h4>
				<hr>
			</div>
			
			<p class="newsletter-desc-paragraph">Zapisz się do newslettera, by nie przegapić informacji o mojej działalności oraz informacji o kolejnych wykładach w Twoim mieście! Do zobaczenia!</p>
			
		</div>

		<div class="newsletter-form">

			<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
			<div id="mc_embed_signup">
				<form action="//mateuszstasica.us16.list-manage.com/subscribe/post?u=56da2c45a0d9031477788dd4d&amp;id=cb82b6f55f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<div class="indicates-required"><span class="asterisk">*</span> wymagane pole</div>
						<div class="mc-field-group">
							<label class="column-form-label" for="mce-EMAIL">Email  <span class="asterisk">*</span>
							</label>
							<input type="email" value="" name="EMAIL" class="required email form-input" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<label class="column-form-label" for="mce-FNAME">Imię  <span class="asterisk">*</span>
							</label>
							<input type="text" value="" name="FNAME" class="required form-input" id="mce-FNAME">
						</div>
						<div class="mc-field-group">
							<label class="column-form-label" for="mce-LNAME">Nazwisko  <span class="asterisk">*</span>
							</label>
							<input type="text" value="" name="LNAME" class="required form-input" id="mce-LNAME">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_56da2c45a0d9031477788dd4d_cb82b6f55f" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="WYŚLIJ" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>
				</form>
			</div>

			<!--End mc_embed_signup-->
		</div>
	</div>
	
</div>
