<!--{{!< default}}-->
<div id="intro">
	{{>header}}
</div>

<div class="half-width">
	<div class="box-description">
		<div class="desc-section reversed full-width">
			<div class="section-title">
				<div class="section-header-container">
					<h2 class="section-header">Podcast</h2>
				</div>
			</div>
			<div class="section-sidetext">
				<iframe src="https://anchor.fm/mateusz-stasica/embed" 
						height="102px" 
						width="100%" 
						frameborder="0" 
						scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div>
