<h3 style=" padding-top: 40%; text-align: center; font-family: 'Lato', sans-serif; font-size: 4em; letter-spacing: 5px;">JUŻ WKRÓTCE</h3>
<a href="/" style="display: block; width: 100%; margin-top: 5%; margin-bottom: 50%; text-align: center; font-family: 'Lato', sans-serif; font-size: 1.5em; letter-spacing: 3px; text-decoration: none; color: #E74C3C;">wróć</a>
