<div class="jumbotron">
	<h1 class="header">MATEUSZ<br><span class="wider">STASICA</span></h1>
	<img src="./images/portraitnew.jpg" alt="" class="img-portrait">
	<p class="desc">SKUTECZNIEJSZA NAUKA JĘZYKÓW</p>
</div>
<div id="nav">
	<ul class="links-container">
		<li class="links"><a href="/">główna</a></li>
		<li class="links"><a href="/dla-firm#contact">kontakt</a></li>
		<li class="links"><a href="/dla-firm" style="/* color: #434cff */">dla firm / pla school</a></li>
		<li class="links"><a target="_blank" href="https://sklep.mateuszstasica.pl/" style="/* color: #ff733c */">sklep / zajęcia</a></li>
		<li class="links"><a href="/blog">więcej</a></li>
	</ul>
</div>
