<div class="jumbotron">
	<h1 class="header"><a href="/">MATEUSZ<br><span class="wider">STASICA</span></a></h1>
	<p class="desc">SKUTECZNIEJSZA NAUKA JĘZYKÓW</p>
	
	<div class="nav" id="main">
		<ul>
	{{log section}}
			<li{{#ifeq section 'companies'}} class="active"{{/ifeq}}><a href="/kontakt">kontakt</a></li>
			<li><a href="https://pla-school.pl" target="_blank">szkoła / pla school</a></li>
			<li><a href="https://sklep.mateuszstasica.pl/" target="_blank">sklep / lekcje prywatne</a></li>
			<li><a href="/blog">blog</a></li>
			<li{{#ifeq section 'podcast'}} class="active"{{/ifeq}}><a href="/podcast">podcast</a></li>
		</ul>
	</div>
</div>
