.post-container {
  font-family: 'Lato', sans-serif;
  
  .post-article {
	
	.post-image {
	  width: 100%;
	}

	.post-back-mobile {
	  opacity: 0.7;
	  display: none;  
	}
	
	.post-back {
	  opacity: 0.7;
	  position: absolute;
	  margin-top: 1%;
	  text-decoration: none;
	  padding: 75px;
	  color: #E74C3C;
	  font-size: 2.5em;
	  display: block;
	}
	
	.post-header {
	  margin-top: 5%;
	  text-align: center;
	  
	  .post-title {
		max-width: 850px;
		width: 95%;
		line-height: 120%;
		text-align: center;
		margin: 25px auto;
		font-size: 28px;
	  }
	  
	  hr {
		width: 35%;
		border: 2px solid #2A80B9;
	  }
	  
	  .post-desc {
		max-width: 700px;
		margin: 1em auto;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;

	  }
	  
	  .post-date {
		color: #929292;
		font-weight: 300;
		margin-top: 5px;
		font-size: 0.9em;
	  }
	  
	}	
	
	.post {
	  font-weight: normal;
	  font-size: 1rem;
	  line-height: 1.6;
	  text-rendering: optimizeLegibility;
	  margin: 0 auto;
	  max-width: 700px;
	  padding: 50px 25px;
	  
	  strong {
		font-weight: 700;
	  }
	  p {
		margin-top: 2%;
	  }
	  ol {
		list-style-type: disc;
		margin-top: 3%;
	  }
	  ul {
		list-style-type: decimal;
		margin-top: 2%;
	  }
	  li {
		margin-top: 1%;
	  }
	}
	
	.social-links-container {
	  margin: 25px auto;
	  max-width: 200px;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  
	  .social-link {
		width: 32px;
	  }
	}
	
  }
  
  #disqus_thread {
	max-width: 700px;
	margin: 0 auto;
  }
}



@media only screen and (max-width: 800px) {
  
  .post-container {
	
	.post-article {
	  
	  .post-back {
		display: none;
	  }
	  .post-back-mobile {
		text-decoration: none;
		color: #E74C3C;
		font-size: 1em;
		display: block;
		position: relative;
		text-align: left;
		padding: 20px 20px;
		margin: 0 auto 20px;
	  }
	  
	  .post-header {
		padding: 0 25px;
		
		.post-title {
		  font-size: 2em;
		}
		
		hr {
		  margin-top: 10%;
		  border: 1.5px solid #2A80B9;
		}
		
		.post-desc {
		  font-size: 1.5em;
		  margin-top: 10%;
		}
		
		.post-date {
		  margin-top: 10%;
		}
	  }
	  
	  .post {
		padding: 0;
		margin: 20px;
		letter-spacing: 1px;
		p {
		  margin-top: 25px;
		}
	  }
	  
	  .social-links-container {
		.social-link {
		  width: 10%;
		}
	  }
	  
	}
	
  }
  
  #disqus_thread {
	width: 90%;
  }
  
}
