.post-container {
  font-family: 'Lato', sans-serif;
  
  .post-article {
	
	.post-image {
	  width: 100%;
	}
	
	.post-back {
	  margin-top: 1%;
	  text-decoration: none;
	  padding: 2%;
	  color: #E74C3C;
	  font-size: 1.25em;
	  display: block;
	}
	
	.post-header {
	  margin-top: 5%;
	  text-align: center;
	  
	  .post-title {
		font-size: 3.5em;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 4px;
		line-height: 120%;
	  }
	  
	  hr {
		margin-top: 2%;
		width: 35%;
		border: 2px solid #2A80B9;
	  }
	  
	  .post-desc {
		margin-top: 2%;
		font-weight: 300;
		font-size: 1.9em;
		letter-spacing: 3px;
	  }
	  
	  .post-date {
		color: #929292;
		font-weight: 300;
		margin-top: 2%;
		letter-spacing: 3px;
		font-size: 1.1em;
	  }
	  
	}
	
	.post {
	  padding: 10% 17%;
	  text-align: justify;
	  font-size: 1.25em;
	  letter-spacing: 2px;
	  line-height: 130%;
	  font-weight: 400;
	}
	
	.social-links-container {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  margin-bottom: 10%;
	  
	  .social-link {
		width: 4%;
	  }
	}
	
  }
  
}



@media only screen and (max-width: 800px) {
  
  .post-container {
	
	.post-article {
	  
	  .post-back {
		font-size: 1em;
	  }
	  
	  .post-header {
		margin-top: 10%;
		height: 50vh;
		
		.post-title {
		  font-size: 3em;
		}
		
		hr {
		  margin-top: 5%;
		  border: 1.5px solid #2A80B9;
		}
		
		.post-desc {
		  margin-top: 5%;
		}
		
		.post-date {
		  margin-top: 5%;
		}
		
	  }
	  
	  .post {
		padding: 10% 10%;
		letter-spacing: 1px;
		p {
		  margin-top: 10%;
		}
	  }
	  
	}
	
  }
  
}
