#blog-jumbotron {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  
  .blog-nav-container {
	height: 85%;
	background-image: url("../images/jay-wennington-2250.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	.blog-nav {
	  float: right;
	  padding: 2%;
	  white-space: nowrap;
	  margin-right: 20%;
	  
	  .blog-nav-link {
		display: inline-block;
		font-size: 1.3em;
		color: white;
		margin-right: 10%;
		letter-spacing: 4px;
		font-weight: 400;
	  }
	  
	  .nav-selected {
		color: #E74C3C;
	  }
	  
	}
	
  }
  
  .blog-intro {
	text-align: justify;
	width: 50%;
	margin: 5% auto;
	font-size: 1.35em;
	letter-spacing: 2px;
	line-height: 115%;
  }
  
}

#blog-list {
  font-family: 'Lato', sans-serif;
  margin-top: 5%;
  
  .blog-posts-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.blog-post {
	  width: 28%;
	  box-shadow: 1px 1px 3px 1px rgba(135, 152, 151, 0.51);
	  position: relative;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  -webkit-justify-content: space-between;
	  justify-content: space-between;
	  text-decoration: none;
	  color: black;
	  text-align: center;
	  margin-top: 5%;

	  @media only screen and (max-width: 1024px) {
	  width: 35%;
	}
	  
	  .blog-title-container {
		background-color: black;
		
		.blog-title {
		  color: white;
		  text-align: center;
		  margin-top: 10%;
		  margin-bottom: 10%;
		  text-decoration: none;
		  font-size: 1.75em;
		  font-weight: 600;
		  text-transform: uppercase;
		  letter-spacing: 3px;
		  line-height: 135%;
		  width: 65%;
		  display: inline-block;
		}
	  }
	  
	  hr {
		width: 40%;
		border: 1px solid #E74C3C;
		margin-top: 5%;
	  }
	  
	  .blog-desc-container {
		text-align: center;
		width: 70%;
		margin: 10% auto 110% auto;
		letter-spacing: 2px;
		line-height: 120%;
		font-size: 1.25em;
	  }
	  
	  .blog-img {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		
		//height: 200%;
		//border: 1px solid red;
		//margin-top: 10%;
		//background-repeat: no-repeat;
		//background-size: cover;
		
	  }
	  
	}

  }
  
  .blog-links {
	margin-top: 10%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	letter-spacing: 3px;
	font-size: 1.2em;
	font-weight: 600;
	
	a {
	  text-decoration: none;
	  color: #2A80B9;
	}
	
	.blog-categories-title {
	  margin-bottom: 2%;
	}
	
	.blog-categories {
	  padding: 5%;
	  
	}
	
	.blog-pagination {
	  padding: 5%;
	}
	
  }
  
}







@media only screen and (max-width: 800px) {
  
  #blog-jumbotron {
	height: auto;
	
	.blog-nav-container {
	  height: 50vh;
	  @media (device-width: 320px) and (device-height: 480px) {
		height: 240px;
	  }
	  @media (device-width: 320px) and (device-height: 568px) {
		height: 284px;
	  }

	  .blog-nav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-evenly;
		justify-content: space-evenly;
		float: none;
		margin: 0 auto;
		padding-top: 5%;

		.blog-nav-link {
		  font-size: 1.1em;
		  margin-right: 0;
		  letter-spacing: 2px;
		}

	  }

	}
	
	.blog-intro {
	  width: 80%;
	  margin: 15% auto;
	}
	
  }

  #blog-list {
	margin-top: 15%;

	.blog-posts-container {
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  -webkit-align-items: center;
	  align-items: center;
	  
	  .blog-post {
		width: 85%;
		margin-top: 15%;
	  }
	  
	}
	
	.blog-links {
	  -webkit-flex-direction: column-reverse;
	  flex-direction: column-reverse;
	  -webkit-align-items: center;
	  align-items: center;
	}

  }
  
}
