ul.list {
	counter-reset: li;
	list-style: none;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 20px 0 0;
	width: 100%;
	
	li {
		position: relative;
		display: block;
		padding: 20px 40px;
		margin: .5em 0;
		border: 1px solid #efefef;
		//background: #f9f9f9;
		color: #444;
		text-decoration: none;
		transition: all .2s ease-in-out;

		a {
			display: block;
			width: 100%;
			font-weight: normal;
			text-align: center;
			text-decoration: none;
			color: $link-color;
		}
		
		&:hover {
			background: #fbfbfb;
			text-decoration: none;
		}

		&:before {
			content: counter(li);
			counter-increment: li;
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0.15;
			line-height: 1em;
			text-align: center;
			font-weight: 300;
			font-size: 38px;
			color: $link-color;

			@media only screen and (max-width: 800px) {
				right: 15px;
				font-size: 28px;
			}
		}
	}
}



