.intro-companies {
  width: 40%;
  margin: 5% auto 5% auto;
  display: inline-block;
  padding: 2% 5%;
  .intro-companies-paragraph {
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	letter-spacing: 2px;
	line-height: 150%;
	margin-top: 2%;
  }
  
  .intro-companies-header {
	color: #988e77;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	margin-bottom: 5%;
	letter-spacing: 2px;
  }
}

.intro-companies-right {
  float: right;
}

.desc-companies-container-column {
  margin-top: 5%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  
  .desc-companies-title-section {
	width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	
	.desc-companies-title-container {
	  width: 25vw;
	  height: 25vw;
	  border: 3px solid black;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-align-items: center;
	  align-items: center;

	  .desc-companies-title {
		color: black;
		line-height: 200%;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		padding: 5%;
		text-align: center;
	  }
	}
  }
  
  .desc-companies-text {
	width: 50%;
	background-color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	
	.desc-companies-paragraph {
	  font-family: 'Lato', sans-serif;
	  line-height: 180%;
	  letter-spacing: 1px;
	  width: 75%;
	  text-align: justify;
	  margin-top: 1%;
	  font-size: 1.05em;
	  
	  .desc-companies-link {
		color: #246c9c;
		letter-spacing: 2px;
		font-size: 1em;
		text-decoration: none;
		font-weight: 600;
	  }
	}
	
	.paragraph-bigger {
	  font-size: 1.5em;
	  letter-spacing: 2px;
	}
	.paragraph-center {
	  text-align: center;
	}
  }
}

.desc-companies-container {
  width: 60%;
  font-family: 'Lato', sans-serif;
  margin: 5% auto 5% auto;
  
  .desc-companies-header {
	font-size: 1.5em;
	color: #988e77;
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 5%;
	margin-top: 5%;
  }
  
  .desc-companies-paragraph {
	font-family: 'Lato', sans-serif;
	line-height: 180%;
	letter-spacing: 1px;
	text-align: justify;
	margin-top: 5%;
	font-size: 1.05em;
	.desc-companies-bold {
	  font-weight: 700;
	  color: #988e77;
	  text-decoration: none;
	  letter-spacing: 3px;
	  font-size: 1.05em;
	}
  }
  
  .desc-companies-element {
	font-family: 'Lato', sans-serif;
	line-height: 180%;
	letter-spacing: 1px;
	text-align: justify;
	margin-top: 2%;
	font-size: 1.05em;
	.desc-companies-bold {
	  font-weight: 700;
	  color: #988e77;
	  text-decoration: none;
	  letter-spacing: 3px;
	  font-size: 1.05em;
	}
  }
}
