#intro {
  height: 100vh;
  
  .jumbotron {
	height: 55%;
	background-color: black;
	position: relative;
	
	.img-portrait {
	  height: 80%;
	  position: absolute;
	  bottom: 0;
	  left: -50px;
	  z-index: 0;
	}
	
	.header {
	  font-family: 'Carrinady', sans-serif;
	  color: #AEAEAE;
	  font-size: 7em;
	  float: right;
	  letter-spacing: 10px;
	  margin-top: 5%;
	  margin-right: 5%;
	  line-height: 80%;
	  position: relative;
	  z-index: 1;
	  
	  
	  .wider {
		font-size: 1.1em;
	  }
	  
	}
	
	.desc {
	  font-family: 'Capsuula', sans-serif;
	  font-size: 2.5em;
	  color: white;
	  text-align: center;
	  float: right;
	  letter-spacing: 5px;
	  position: absolute;
	  bottom: 7%;
	  width: 100%;
	  
	}
	
  }
  
  .intro-text {
	height: 45%;
	background-color: white;
	position: relative;
	font-family: 'Lato', sans-serif;
	
	.intro-bold {
	  font-weight: 500;
	  color: #2A80B9;
	}
	
	.intro-link {
	  font-weight: 700;
	  color: #E74C3C;
	  text-decoration: none;
	  letter-spacing: 3px;
	}
	
	
	.intro {
	  width: 32%;
	  display: inline-block;
	  padding: 9%;
	  font-size: 1.2em;
	  letter-spacing: 2px;
	  line-height: 120%;
	  text-align: justify;
	  p {
		margin-bottom: 10%;
	  }
	  
	}
	
	#intro-left{
	  #why-container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		-webkit-justify-content: center;
		margin-top: 20%;
		#intro-why {
		  text-align: center;
		  padding-bottom: 2%;
		  border-bottom: 3px solid #E74C3C;
		  display: inline;
		  font-size: 1.2em;
		}
	  }
	}
	
	#intro-right {
	  float: right;
	}
	
	#nav {
	  width: 40%;
	  height: 12%;
	  background-color: black;
	  position: absolute;
	  bottom: 5%;
	  right: 3%;
	  font-weight: 300;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: row;
	  flex-direction: row;
	  -webkit-align-content: center;
	  align-content: center;
	  
	  .links-container {
		margin: auto 0;
		width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-around;
		justify-content: space-around;

		.links {
		  display: inline-block;
		  color: white;
		  font-size: 1.2em;
		  letter-spacing: 3px;
		  text-decoration: none;
		}
	  }
	}
  }
}





#description-1 {
  margin-top: 10%;
  height: 100vh;
  position: relative;
  
  .desc-sidepic {
	height: 100%;
	width: 100%;
  }
  
  .desc-sidetext {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	
	hr {
	  width: 20%;
	  border: none;
	  border-bottom: solid 2px #2A80B9;
	}
	
	
	.sidetext-paragraph {
	  font-family: 'Lato', sans-serif;
	  line-height: 180%;
	  letter-spacing: 1px;
	  width: 75%;
	  text-align: justify;
	  margin: 7% 0 7% 0; 
	}
	
  }
  
}





#description-2 {
  margin-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  
  .desc-section {
	margin-bottom: 10%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	
	.section-sidetext {
	  width: 50%;
	  background-color: white;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-align-items: center;
	  align-items: center;
	  
	  .sidetext-paragraph {
		font-family: 'Lato', sans-serif;
		line-height: 180%;
		letter-spacing: 1px;
		width: 75%;
		text-align: justify;
		margin: 3% 0 3% 0;
		font-size: 0.95em;
		
		.paragraph-link {
		  color: #2A80B9;
		  letter-spacing: 2px;
		  font-size: 1em;
		  text-decoration: none;
		  font-weight: 600;
		}
		
	  }
	  
	}
	
	.section-title {
	  width: 50%;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-align-items: center;
	  align-items: center;
	  
	  .section-header-container {
		width: 25vw;
		height: 25vw;
		background-color: black;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		
		.section-header {
		  text-align: center;
		  font-family: 'Lato', sans-serif;
		  font-weight: 600;
		  color: white;
		  font-size: 2em;
		  display: inline-block;
		  line-height: 150%;
		  letter-spacing: 4px;
		}
		
	  }
	  
	}
	
  }
  
  .learn-more {
	text-align: center;
	border: 2px solid #E74C3C;
	font-family: 'Lato', sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	letter-spacing: 5px;
	width: 30%;
	padding: 1.5%;
	text-decoration: none;
	color: black;
  }
  
}



#newsletter {
  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 10%;
  margin-bottom: 5%;
  
  .newsletter-container {
	background-color: black;
	width: 75%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	justify-content: space-evenly;
	padding: 3%;
	
	.newsletter-desc {
	  width: 40%;
	  height: 75%;
	  margin: auto 0;
	  
	  .newsletter-header-container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		
		hr {
		  width: 10%;
		  border: none;
		  border-bottom: 3px solid white;
		}
		
		.newsletter-header {
		  font-size: 2em;
		  font-weight: 600;
		  letter-spacing: 4px;
		}
		
	  }
	  
	  .newsletter-desc-paragraph {
		letter-spacing: 1px;
		line-height: 120%;
		text-align: justify;
		margin-top: 10%;
	  }
	  
	}
	
	.newsletter-form {
	  width: 30%;
	  height: 75%;
	  margin: auto 0;
	  
	  .form-input {
		background-color: black;
		border: 1px solid white;
		border-radius: 0;
		color: white;
		margin: 3% 0 3% 0;
	  }
	  
	  .button {
		background-color: black;
		border: 2px solid #2A80B9;
	  }
	  
	}
	
  }
  
}













@media only screen and (max-width: 800px) {

  #intro {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: auto;
	
	.jumbotron {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  -webkit-align-items: center;
	  align-items: center;
	  height: 100vh;
	  @media (min-width: 320px) and (max-width: 480px) {
		height: 480px;
	  }
	  @media (min-width: 320px) and (max-width: 568px) {
		height: 568px;
	  }
	  margin-bottom: 0;
	  
	  .header {
		float: none;
		margin: 5% 0;
		font-size: 4em;
		text-align: center;
	  }
	  
	  .img-portrait {
		position: relative;
		left: 0;
		width: 100%;
		height: auto;
	  }
	  
	  .desc {
		bottom: 1%;
		font-size: 2em;
	  }
	  
	}
	
	.intro-text {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-direction: column-reverse;
	  flex-direction: column-reverse;
	  
	  .intro {
		width: 80%;
	  }
	  
	  #nav {
		position: static;
		width: 100%;
		padding: 5% 0;
		.links-container {
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-flex-direction: column;
		  flex-direction: column;
		  -webkit-justify-content: space-between;
		  justify-content: space-between;
		  -webkit-align-items: center;
		  align-items: center;
		  .links {
			font-size: 1.1em;
			margin-top: 5%;
		  }
		}
	  }
	  
	}
	
  }
  
  
  #description-1 {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	@media (min-width: 320px) and (max-width: 480px) {
	  height: 480px;
	}
	@media (min-width: 320px) and (max-width: 568px) {
	  height: 568px;
	}
	
	.desc-sidepic {
	  height: auto;
	  width: 100%;
	}
	
	.desc-sidetext {
	  position: static;
	  height: auto;
	  width: 100%;
	}
	
  }
  
  
  
  #description-2 {
	
	.desc-section {
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  
	  .section-sidetext {
		margin-top: 15%;
		width: 100%;
	  }
	  
	  .section-title {
		margin-top: 10%;
		width: 100%;
		
		.section-header-container {
		  width: 70vw;
		  height: 70vw;
		}
		
	  }
	  
	}
	
	.desc-section-mobile-reversed {
	  -webkit-flex-direction: column-reverse;
	  flex-direction: column-reverse;
	}
	
	
	.learn-more {
	  width:80%;
	}
	
	
  }
  
  
  
  #newsletter {
	margin-top: 15%;
	
	.newsletter-container {
	  -webkit-flex-direction: column;
	  flex-direction: column;
	  -webkit-align-content: center;
	  align-content: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-align-items: center;
	  align-items: center;
	  width: 85%;
	  
	  .newsletter-desc {
		padding-top: 5%;
		width: 80%;
		
		.newsletter-header-container {
		  -webkit-flex-direction: column;
		  flex-direction: column;
		  
		  hr {
			width: 50%;
			border-bottom: 1px solid white;
		  }
		  
		  .newsletter-header {
			padding: 5% 0;
		  }
		  
		}
		
	  }
	  
	  .newsletter-form {
		margin-top: 10%;
		width: 80%;
	  }
	  
	}
	
  }
  
}

@media (max-height: 1024px) {
  #intro {
	height: auto;
	.jumbotron {
	  height: 100vh;
	}
  }
  
  #description-1 {
	height: auto;
	min-height: 100vh;
  }
}
