#header {
	margin-top: 30px;
}

#footer {
	color: black;
  	font-family: 'Lato', sans-serif;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	font-size: 1.1em;
  	padding: 2%;
  	
  	#footer-right {
	  float: right;
	  
	  .footer-link {
		color: #E74C3C;
	  }
	  
	}
  
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
