@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Capsuula';
  src: url("../fonts/Capsuula.ttf");
}

@font-face {
  font-family: 'Carrinady';
  src: url("../fonts/Carrinady.ttf");
}

html, body {
	height: 100%;
}

body {
	color: #2d2d2f;
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.text-muted {
	color: #888;
	font-size: 0.9em;
}

a {
	color: black;
	font-weight: bold;
}

#header {
	margin-top: 30px;
}

#footer {
	color: black;
  	font-family: 'Lato', sans-serif;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	font-size: 1em;
  	padding: 2%;
	flex-shrink: 0;
	bottom: 0;
  	
	#footer-left {
		a {
			padding: 0 5px 0 10px;
		}
		
		span, a {
			vertical-align: middle;
		}
		
		img {
			height: 16px;
			width: auto;
		}
	}
	
  	#footer-right {
	  .footer-link {
		color: #E74C3C;
		text-decoration: none;
		letter-spacing: 2px;
	  }
	  
	}

  .footer-privacy {
	color: #7b7d7d;
	text-decoration: none;
	letter-spacing: 2px;
  }
  
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}


@media only screen and (max-width: 800px) {
  #footer {
	padding-top: 7%;
	flex-direction: column;
	text-align: center;
	
	#footer-left {
	  margin-bottom: 5%;
	}
	
	#footer-right {
	  margin-top: 5%;
	}
	
  }
}
