#nav {
  background-color: $colorWhite;
  font-weight: 300;
  padding: 2%;
  
  .nav {
	display: inline;
	
	.navbar-link {
	  display: inline;
	  margin-left: 5%;
	  
	  .navbar-label {
		text-decoration: none;
		color: $colorDark;
		font-size: 1.1em;
		transition: 0.4s;
	  }
	  
	  .navbar-label:hover {
		color: $colorRed;
	  }
	}
	
	.navbar-active {
	  .navbar-label {
		color: $colorGold;
		font-weight: 400;
	  }
	}
  }
}

.test {
  color: pink;
}
